* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(219,219,210,1) 20%);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    height: 90%;
    width: 80%;
    display: flex;
}

.aside {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-cnt {
    width: 70%;
    height: 100%;
}

.aside-header, .main-header, .main-footer {
    height: 70px;
    width: 100%;
    background-color:#eaeaea;
    border-left: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.aside-header > .user > img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.main-header > .user > img {
    width: 10%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.contacts > .contact > .user > img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding-left: 5px;
}

.user > span {
    padding-left: 10px;
}

.user, .icons {
    height: 80%;
    width: 60%;
    display: flex;
    align-items: center;
}

.userName {
    font-weight: bold;
    padding-bottom: 5px;
}

.lastMessage {
    font-size: 0.7rem;
    color: lightgray;
}

.textHours {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.7rem;
    color: lightgrey;
}

.contactDetails {
    padding-left: 10px;
}

.icons {
    justify-content: flex-end;
}

.icons > i {
    color: gray;
    font-size: 1.25rem;
    padding-right: 15px;
}

.icons > i:hover {
    color: #009688;
    cursor: pointer;
}

.notifications {
    height: 80px;
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.bell {
    width: 15%;
    padding-left: 10px;
}

.bellIcon {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    line-height: 50%;
    color: #8edafc;
}

.bellIcon:hover {
    color: black;
    cursor: pointer;
}

.newNotifications {
    font-size: 0.8rem;
    font-size: bold;
}

.link {
    text-decoration: underline;
    font-size: 0.7rem;
    color: gray;
}

.search-bar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#eaeaea ;
}

.btn {
    width: 20%;
    height: 70%;
    border-style: none;
    background-color: white;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:hover {
    background-color: #009688;
    color: white;
    cursor: pointer;
}

.search-input {
    width: 70%;
    height: 70%;
    border-style: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contacts {
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

.contact {
    height: calc(100% / 8);
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    position: relative;
}

.contact:hover {
    background-color:#eaeaea;
    cursor: pointer;
}

.main-main {
    height: calc(100% - 140px);
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
    max-width: 60%;
    min-width: 30%;
    border-radius: 10px;
    padding: 10px 5px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}

.received {
    background-color: white;
    max-width: 60%;
    min-width: 30%;
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px 5px;
    margin-left: 10px;
    align-self: flex-start;
    position: relative;
}

.main-main > .sent > span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7rem;
    color: grey;
}

.main-main > .received > span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7rem;
    color: grey;
}


.emoji, .send, .text {
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: grey;
}

.text {
    width: 70%;
    height: 80%;
}

.message {
    width: 100%;
    height: 70%;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
}

.emoji:hover, .send:hover {
    color: #009688;
}

